*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  letter-spacing: 0;
}
/* Thin */
@font-face {
  font-family: 'Interthin';
  src: url('/fonts/inter/static/Inter_18pt-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Light */
@font-face {
  font-family: 'Interlight';
  src: url('/fonts/inter/static/Inter_18pt-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: 'Intermedium';
  src: url('/fonts/inter/static/Inter_18pt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'Interbold';
  src: url('/fonts/inter/static/Inter_18pt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ================================================dm-mono==================================== */
/* DM Mono - Italic */
@font-face {
  font-family: 'DMMonoItalic';
  src: url('/fonts/dom-mono/DMMono-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* DM Mono - Light */
@font-face {
  font-family: 'DMMonoLight';
  src: url('/fonts/dom-mono/DMMono-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* DM Mono - Light Italic */
@font-face {
  font-family: 'DMMonoLightItalic';
  src: url('/fonts/dom-mono/DMMono-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* DM Mono - Medium */
@font-face {
  font-family: 'DMMonoMedium';
  src: url('/fonts/dom-mono/DMMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* DM Mono - Medium Italic */
@font-face {
  font-family: 'DMMonoMediumItalic';
  src: url('/fonts/dom-mono/DMMono-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* DM Mono - Regular */
@font-face {
  font-family: 'DMMonoRegular';
  src: url('/fonts/dom-mono/DMMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* ================================================satoshi==================================== */

/* Satoshi - Black */
@font-face {
  font-family: 'SatoshiBlack';
  src: url('/fonts/satoshi/Satoshi-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Satoshi - Black Italic */
@font-face {
  font-family: 'SatoshiBlackItalic';
  src: url('/fonts/satoshi/Satoshi-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* Satoshi - Bold */
@font-face {
  font-family: 'SatoshiBold';
  src: url('/fonts/satoshi/Satoshi-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Satoshi - Bold Italic */
@font-face {
  font-family: 'SatoshiBoldItalic';
  src: url('/fonts/satoshi/Satoshi-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Satoshi - Italic */
@font-face {
  font-family: 'SatoshiItalic';
  src: url('/fonts/satoshi/Satoshi-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Satoshi - Light */
@font-face {
  font-family: 'SatoshiLight';
  src: url('/fonts/satoshi/Satoshi-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Satoshi - Light Italic */
@font-face {
  font-family: 'SatoshiLightItalic';
  src: url('/fonts/satoshi/Satoshi-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Satoshi - Medium */
@font-face {
  font-family: 'SatoshiMedium';
  src: url('/fonts/satoshi/Satoshi-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Satoshi - Medium Italic */
@font-face {
  font-family: 'SatoshiMediumItalic';
  src: url('/fonts/satoshi/Satoshi-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Satoshi - Regular */
@font-face {
  font-family: 'SatoshiRegular';
  src: url('/fonts/satoshi/Satoshi-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}